!!!
%html
  %head
    %title Paduleプライバシーポリシー
    %link{:href => '/img/favicon.ico', :rel => 'shortcut icon'}
    %link{:href => '/css/bootstrap.min.css', :rel => 'stylesheet'}
    %link{:href => '/css/public.css', :rel => 'stylesheet'}

    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no'}

    :css
      body{
        color: #34495e;
      }
      dt{
        margin-top: 16px;
        margin-bottom: 12px;
        font-size: 16px;
      }
      dd{
        margin-left: 8px;
        margin-right: 8px;
      }
      .title{
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
      }
      .last{
        margin-top: 20px;
      }

  %body
    .navbar.navbar-inverse.navbar-fixed-top.landing-nav{:role => 'navigation'}
      .container
        .navbar-header
          %a.navbar-brand{:href=>"/"}
            %img.logo{:src => '/img/logo.png'}

    .container.privacy-container
      .title
        %h3='【プライバシーポリシー】'
      .detail
        %dl
          %dt='第１条（全般）'
          %dd
            1.  Padule運営主体（以下、「当社」といいます）は、本サイト（http://padule.me）におけるサービスのご提供にあたり、個人情報の取り扱いについて、その重要性を深く認識し、適切な取得、利用及び提供を行うと共に、本サイト利用者の皆様の個人情報に関する権利を保証するために、本プライバシー・ポリシーを定め、利用者に更なる信頼をご提供できるように努めて参ります。
          %dd
            2.  当社は、個人情報保護に関する法令及びその他関係する規範を遵守します。
        %dl
          %dt='第２条（個人情報）'
          %dd
            本プライバシーポリシーにおいて「個人情報」とは、個人情報保護法にいう、生存する個人に関する情報であって、当該情報に含まれる氏名、住所、電話番号、メールアドレス及びその他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む）をいいます。
        %dl
          %dt='第３条（個人情報の収集）'
          %dd
            1.  当社は、個人情報の取得を適法かつ公正な手段によって行うものとし、利用者の意思に反する不正な取得を行わないものとします。
          %dd
            2.  当社は、個人情報を取得する場合、その利用目的をあらかじめ通知又は公表するものとします。
        %dl
          %dt='第４条（当社によるクッキー等の使用について）'
          %dd
            1.  当社は、クッキー及びIPアドレス等から利用者の履歴情報その他利用者のプライバシーに係る情報を収集する場合があります。
          %dd
            2.  利用者は、ブラウザの設定でクッキー等を無効にすることにより、当社のクッキー等の使用を拒否することができます。　ただし、その場合、利用者は、各サービスの利用状況を確認する際などに、不具合が生じる可能性があることに注意する必要があります。
        %dl
          %dt='第５条（個人情報の利用目的）'
          %dd
            当社は、利用者から収集した個人情報等を以下の目的のために使用するものとします。
          %dd
            利用者から事前に同意を得ることなく、以下の目的以外で個人情報等を使用することはありません。
          %dd
            (1)　利用者が指定した企業または個人に対し、面接日程調整のために必要な情報を提供するため
          %dd
            (2)　利用者からのお問い合わせに応答するため
          %dd
            (3)　当社から新たなサービスの情報提供や本サイトに関するアンケートを行うため
          %dd
            (4)　本サイトの利用規約等に違反する行為又はその恐れのある行為を行った利用者に対して注意又は警告を行うため
          %dd
            (5)　当社に対する債務を有する利用者に同債務の履行を要求するため
        %dl
          %dt='第６条（個人情報の第三者委託）'
          %dd
            当社は、個人情報の取り扱いの全部または一部を第三者に委託する場合は、当該第三者に　ついて厳正な調査を行い、取り扱いを委託された個人情報の安全管理が図られるよう当該第三者に対する必要かつ適切な監督を行います。
        %dl
          %dt='第７条（個人情報の第三者提供）'
          %dd
            当社は、次条の場合を除き、取得した個人情報等を第三者に対して開示又は提供しないものとします。　ただし、以下の各号に該当する場合は、この限りではありません。
          %dd
            (1)　法令により開示が義務付けられ、または、開示を求められた場合
          %dd
            (2)　人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合。
          %dd
            (3)　警察、検察、裁判所、消費者センター等公的機関等によって開示を求められた場合
        %dl
          %dt='第８条（広告掲載のための利用）'
          %dd
            1.  当社は、サービスを無料又は低廉な価格で提供するため、個人情報を個人が特定できない統計的データの形に加工し、当該データを広告代理店、広告主等に提供することがあります。
          %dd
            2.  前項の場合、当社は、当該データの保管、安全管理等を適切に行える広告代理店、広告主等を合理的な注意を払って選定するものとし、必要であれば適切な情報保護契約を締結するなど適切な措置を行います。
        %dl
          %dt='第９条（個人情報等の管理）'
          %dd
            当社は、個人情報保護に関する法令及びその他関係する規範に基づき個人情報等を適切に管理し機密保持に努めるものとします。ただし、当社は、情報の漏洩、消失、他者による改ざん等が完全に防止されることについて、利用者に対する保証を行わないものとします。
        %dl
          %dt='第１０条（個人情報等の最新性・正確性の維持）'
          %dd
            当社は、利用目的の達成に必要な範囲内において、利用者の個人情報等を正確かつ最新の内容に保つよう努めるものとします。
        %dl
          %dt='第１１条（利用者による照会等）'
          %dd
            当社は、利用者より当該利用者の個人情報の照会・訂正・追加・削除・利用の停止又は消去を求められた場合、本人確認を行うものとします。　なお、当社は、利用者本人による照会等であると当社が判断した場合、合理的な期間内にこれに対応するものとします。
        %dl
          %dt='第１２条（変更）'
          %dd
            本プライバシー・ポリシーの内容は予告なく変更されることがあります。かかる変更は、当社が別途定める場合を除いて、当社が変更後のプライバシーポリシーを本サイト上に掲載した時点で効力を生じるものとします。
        %dl
          %dt='第１３条（免責）'
          %dd
            当社は、本サイト上のリンク先のウェブサイト等における個人情報等の保護に関して一切責任を負いません。リンク先への訪問は、利用者自身の責任にて行うものとします。
        %dl
          %dt='第１４条（管理責任者等）'
          %dd
            1.  当社は、当社代表者を個人情報管理責任者とし、個人情報の適正な管理及び継続的な改善を実施致します。
          %dd
            2.  当社の個人情報の取り扱いにつき、請求・お問い合わせ等ございましたら、下記までご連絡ください。
          %dd
            【　連絡先　】　Padule運営主体　代表
          %dd
            　メールアドレス : padule@outlook.com

        %p.last='以上'

    .container.footer-container
      .pull-right
        © 2013 Padule Inc. - Started by
        %a{:href => "http://tokyo.startupweekend.org/"}
          Startup Weekend Tokyo
