body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.fc-sun {
    color: red;
}

.fc-sat {
    color: blue;
}

.fc-event-skin {
    text-align: center;
    cursor: pointer;
}

#calendar-area h2 {
    font-size: 25px;
}
