!!!
%html
  %head
    %title Padule管理ページ

    %link{:href => "../../img/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "../../css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "../../css/padule.css", :rel => "stylesheet"}

    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"}

    :css
      .users-container{
        margin: 12px;
      }
      .users-table{
        padding: 12px;
        background-color: #FEFEFE;
      }
      .users-table>thead>tr{
        background-color: #EDEDED;
      }
      .count-container{
        font-size: 20px;
        margin: 12px;
      }
      .user-number{
        font-size: 60px;
        font-weight: bold;
      }
      .button-container{
        margin-top: 5px;
        margin-right: 6px;
      }

  %body
    .navbar.navbar-inverse.navbar-fixed-top.padule-nav
      .container-fluid
        %a.navbar-brand{:href => '../users/admin'}
          Padule管理ページ

      .button-container.pull-right
        %a.btn.btn-default.btn-sm{:href=>'/users/logout'}
          ログアウト
      .button-container.pull-right
        %a.btn.btn-info.btn-sm{:href=>'/feedbacks'}
          フィードバックページ

    .count-container
      %span='登録者数 '
      :plain
        <span class='user-number'>
          <?php echo count($tmpUsers);?>
        </span>
      %span='人'

    .users-container
      %table.table.table-hover.table-condensed.users-table
        %thead
          %th='氏名'
          %th='会社名'
          %th='メールアドレス'
          %th='登録日'
        %tbody
          :plain
            <?php foreach ($tmpUsers as $tmpUser):?>
              <tr>
                <td>
                  <?php echo $tmpUser['TmpUser']['username'];?>
                </td>
                <td>
                  <?php echo $tmpUser['TmpUser']['company'];?>
                </td>
                <td>
                  <?php echo $tmpUser['TmpUser']['mail'];?>
                </td>
                <td>
                  <?php echo $tmpUser['TmpUser']['created'];?>
                </td>
              </tr>
            <?php endforeach; ?>

    .count-container
      %span='ユーザー数 '
      :plain
        <span class='user-number'>
          <?php echo count($users);?>
        </span>
      %span='人'

    .users-container
      %table.table.table-hover.table-condensed.users-table
        %thead
          %th='アカウント'
          %th='暗号化したパスワード'
          %th='作成日'
        %tbody
          :plain
            <?php foreach ($users as $user):?>
              <tr>
                <td>
                  <?php echo $user['User']['username'];?>
                </td>
                <td>
                  <?php $user['User']['password'];?>
                </td>
                <td>
                  <?php echo $user['User']['created'];?>
                </td>
              </tr>
            <?php endforeach; ?>
