!!!
%html
  %head
    %title Padule

    %link{:href => "../../img/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "../../css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "../../css/datepicker.css", :rel => "stylesheet"}
    %link{:href => "../../css/padule.css", :rel => "stylesheet"}
    %link{:href => "../../css/schedule.css", :rel => "stylesheet"}

    %meta{:name => "keywords", :content => "スケジュール,調整"}
    %meta{:name => "description", :content => "スケジュール,調整"}
    %meta{:property => "og:title", :content => "Padule"}
    %meta{:property => "og_image", :content => ""}
    %meta{:property => "og:description", :content => ""}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => "http://padule.me"}
    %meta{:property => "og:site_name", :content => "Padule"}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"}

  %body
    .navbar.navbar-inverse.navbar-fixed-top.padule-nav
      .container-fluid
        %a.navbar-brand{:href=>"/users/mypage"}
          Padule
        .info-area.pull-left
          %span.label

        :plain
          <ul class='nav navbar-nav pull-right' id='userInfo' data-userid='<?php echo $userId; ?>'>

        %li.dropdown
          %a{:href=>"#", :data=>{:toggle=>'dropdown'}, :class=> 'pull-right'}
            %i.glyphicon.glyphicon-user
            %span#userName
            %b.caret

          %ul.dropdown-menu
            %li
              %a#logout{:href=>"#"}
                %i.glyphicon.glyphicon-off
                ログアウト
        :plain
          </ul>

        .feedback-container.pull-right
          %a.btn.btn-default.btn-sm{:href=>'/feedbacks'}
            %i.glyphicon.glyphicon-edit
            フィードバックはこちらから！

    .schedule-container.container-fluid
      .row-fluid
        #eventSidebar
          #addEventButtonContainer.add-container
            %button.add-event-btn.btn.btn-primary
              スケジュール追加
          .sidebar-container
            %ul#eventList.nav

        #scheduleContents
          .control-container
          .schedule-table-container
            .no-event
              %span
                %i.glyphicon.glyphicon-info-sign
                Paduleへようこそ！
              %span
                スケジュールを作成するか、作成したスケジュールを選択してください。
          .button-container
            %a#confirmButton.btn.btn-lg.btn-success.disabled{:type => 'button', :onclick => "ga('send', 'event', 'schedule', 'confirm', 'confirmEvent', 1);"}
              編集した日時を確定

    #alertModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{:type=>'button', :aria=>{:hidden=>'modal-body'}, :data=>{:dismiss => 'modal'}}
              &times;
            %i.glyphicon.glyphicon-question-sign
            %span.modal-title
          .modal-body
          .modal-footer
            %button#alertOK.btn.btn-success{:type => 'button'}
              はい
            %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}
              いいえ

    :javascript
      if (window.padule == null) window.padule = { Models: {}, Collections: {}, Views: {},Routers: {} };
    %script{:src=>"../../js/libs/jquery-2.0.3.min.js"}
    %script{:src=>"../../js/libs/bootstrap.min.js"}
    %script{:src=>"../../js/libs/bootstrap-datepicker.js"}
    %script{:src=>"../../js/libs/bootstrap-timepicker.min.js"}
    %script{:src=>"../../js/libs/json2.js"}
    %script{:src=>"../../js/libs/dateformat.js"}
    %script{:src=>"../../js/libs/underscore.js"}
    %script{:src=>"../../js/libs/backbone.js"}
    %script{:src=>"../../js/libs/backbone.localStorage.js"}
    %script{:src=>"../../js/application.js"}
    %script{:src=>"../../js/padule.js"}
    %script{:src=>"../../js/libs/jquery.mockjax.js"}
    / template
    %script{:src=>"../../js/templates/templates.js"}
    / model
    %script{:src=>"../../js/models/event.js"}
    %script{:src=>"../../js/models/schedule.js"}
    %script{:src=>"../../js/models/seeker.js"}
    %script{:src=>"../../js/models/seeker_schedule.js"}
    %script{:src=>"../../js/models/user.js"}
    / collection
    %script{:src=>"../../js/collections/events.js"}
    %script{:src=>"../../js/collections/schedules.js"}
    %script{:src=>"../../js/collections/seeker_schedules.js"}
    / view
    %script{:src=>"../../js/views/schedule/alert_modal.js"}
    %script{:src=>"../../js/views/schedule/event.js"}
    %script{:src=>"../../js/views/schedule/event_list.js"}
    %script{:src=>"../../js/views/schedule/event_list_element.js"}
    %script{:src=>"../../js/views/schedule/info_area.js"}
    %script{:src=>"../../js/views/schedule/schedule.js"}
    %script{:src=>"../../js/views/schedule/schedule_control.js"}
    %script{:src=>"../../js/views/schedule/schedule_table.js"}
    %script{:src=>"../../js/views/schedule/schedule_tbody.js"}
    %script{:src=>"../../js/views/schedule/schedule_tbody_th.js"}
    %script{:src=>"../../js/views/schedule/schedule_tbody_tr.js"}
    %script{:src=>"../../js/views/schedule/schedule_td.js"}
    %script{:src=>"../../js/views/schedule/schedule_tfoot.js"}
    %script{:src=>"../../js/views/schedule/schedule_tfoot_tr.js"}
    %script{:src=>"../../js/views/schedule/schedule_tfoot_td.js"}
    %script{:src=>"../../js/views/schedule/schedule_thead.js"}
    %script{:src=>"../../js/views/schedule/schedule_thead_th.js"}
    %script{:src=>"../../js/views/schedule/schedule_thead_tr.js"}
    %script{:src=>"../../js/views/schedule/user_info.js"}
    / router
    %script{:src=>"../../js/routers/schedules_router.js"}

    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45987329-1', 'padule.me');
      ga('send', 'pageview');
